.item-listing {
  all: unset;
  padding-top: 200px;
}
.silder-header {
  text-align: center;
}
.slider {
  height: 35vh;
  overflow-x: scroll;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*  mix-blend-mode: color-burn; */
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider-item-wrapper {
  display: flex;
  height: 100%;
}
.silder-item {
  width: 50vw;
  aspect-ratio: 1.1;
  background-color: white;
  border: solid 1px green;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.237);
  transform: scale(0.8);
}
.slider-button {
  position: absolute;
  top: 17%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ececa3;
  display: grid;
  place-items: center;
  z-index: 2;
  cursor: pointer;
}
.slider-button:active {
  background-color: #425c06;
  color: white;
}
.btn-right {
  right: 3%;
}
.btn-left {
  left: 3%;
}
.mobile-header {
  display: none;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}
.item {
  width: 300px;
  height: 45vh;
  position: relative;
  border: solid 1px rgba(0, 128, 0, 0.356);
  border-radius: 5px;
  display: grid;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.114);
  grid-template-rows: 50% 35% 15%;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.description h4,
p {
  margin-left: 10px;
}
.description {
  overflow-y: hidden;
}

.access {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.access button {
  all: unset;
  background-color: #b5e550;
  height: fit-content;
  padding: 5px 2px;
  border-radius: 5px;
  cursor: pointer;
}
.access button:active {
  background-color: #425c06;
}
@media (max-width: 625px) {
  .item-listing {
    padding-top: 0px;
  }
  .mobile-header {
    display: block;
    padding-top: 0px;
    color: #809c13;
  }
  .slider-button {
    top: 8%;
  }
}
