.item-listing {
  padding-top: 150px;
}
.silder-header {
  text-align: center;
}
.slider {
  height: 35vh;
  overflow-x: scroll;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider-item-wrapper {
  display: flex;
  height: 100%;
  gap: 10px;
}
.silder-item {
  width: 50vw;
  aspect-ratio: 1.1;
  background-color: #607c3c;
}
.slider-button {
  position: absolute;
  top: 45%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ececa3;
  display: grid;
  place-items: center;
  z-index: 2;
}
.btn-right {
  right: 3%;
}
.btn-left {
  left: 3%;
}
.mobile-header {
  display: none;
}
@media (max-width: 625px) {
  .item-listing {
    padding-top: 0px;
  }
  .mobile-header {
    display: block;
    padding-top: 50px;
    color: #809c13;
  }
}
